$sunflower: #e8d82a;
$isabelline: #EAEAEA;
$deep-koamaru: #3A1C64;
$white-smoke: #F5F5F5;
$marigold: #E1A327;
$charcoal: #383F51;
$jet: #2E382E;

$Oswald: 'Oswald', sans-serif;
$Lobster: 'Lobster', cursive;
$Pacifico: 'Pacifico', cursive;
$Abril: 'Abril Fatface', cursive;

// font-family: 'Righteous', cursive;